.page {
    display: flex;
    background-color: white;
  }
  
  .page__content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Cabinet Grotesk", Times, serif;
    background-image: url(../../images/Pokedex.png);
    background-size: 100%;
    border-radius: 20px;
  }
  